
.section{
   /* position: relative;
    margin-left: -230px;*/
    position: absolute;
    margin-left: 60px;
    margin-top: 10px;
}

.filterText{
    font-weight: bold;
    color: #282828;
    font-size: 18px;
    margin-left: -30px;
}

.section input[type="radio"]{
    display: none;
}
.container {
    margin-bottom: 10px;
}
.container label {
    position: relative;
}

/* Base styles for spans */
.container span::before,
.container span::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

/* Radio buttons */
.container span.radio:hover {
    cursor: pointer;
}
.container span.radio::before {
    left: -52px;
    width: 45px;
    height: 25px;
    background-color: #bcc9dd;
    border-radius: 50px;
}
.container span.radio::after {
    left: -49px;
    width: 17px;
    height: 17px;
    border-radius: 10px;
    background-color: #6C788A;
    transition: left .25s, background-color .25s;
}
input[type="radio"]:checked + label span.radio::after {
    left: -27px;
    background-color: #fa5ba5;
}



.sortDiv{
    position: absolute;
    right: 30px;
    top: 470px;
}

.sort{
    border-radius: 30px;
    background: #fff;
    border: 1px solid #eee;
    overflow: hidden;
    padding: .75em 2.25em .75em 1em;
    position: relative;
}

.sort:before,
.sort:after {
    border-style: solid;
    border-width: 8px 5px;
    border-color: transparent;
    content: '';
    height: 0;
    position: absolute;
    right: 10px;
    width: 0;
}

.sort:before {
    border-bottom-color: #ccc;
    top: 0;
}

.sort:after {
    border-top-color: #ccc;
    bottom: 0;
}

.asc:before {
    border-bottom-color: #fa5ba5;
}

.desc:after {
    border-top-color: #fa5ba5;
}

.sort:active, button:focus {
    outline: none;
}