/*
* Landing Page - Practice
* CSS Styles
* http://www.idg.net.ua/blog/uchebnik-css/ispolzovanie-css/praktika-delaem-landing-page
*
*/


/* General */
body {
    font-family: Raleway, Arial, Helvetica, sans-serif; /* кроме Raleway добавьте
                                                         * несколько запасных шрифтов */
}
p {
    font-size: 14px;
    color: #999;
    line-height: 1.6;
}
h1 {
    font-size: 40px;
    color: #fff;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 26px;
}
h2, h3 {
    color: #282828;
}
.container {
    width: 90%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.brand {
    font-size: 30px;
}
.menu li {
    float: left;
    font-size: 16px;
    list-style: none; /* убираем стандартные маркеры списка */
}
.menu {
    padding-left: 0; /* убираем стандартный левый отступ списка */
    margin: 0; /* убираем стандартные поля списка */
}
.menu li a {
    text-decoration: none;
}



/* Header */
header {
    background-color: #fff;
    padding-top: 30px;
}
header .brand {
    float: left;
    color: #59abe3;
    margin-bottom: 30px;
}
header .menu {
    float: right;
    margin-bottom: 30px;
}
header .menu li {
    padding-left: 20px;
}
header .menu li a {
    color: #aaa;
}

.jumbotron {
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 250px;
    text-align: center;
    clear: both;
}
.jumbotron .button {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin-top: 40px;
    background-color: #fa5ba5;
    padding: 20px 30px;
    border-radius: 30px;
}



/* Services */
.services .service {
    width: 33.333333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.services {
    padding-top: 50px;
    text-align: center;
}
.services .fa {
    color: #979797;
    margin-bottom: 15px; /* и добавим небольшой отступ */
}



/* Blog */
.blog {
    clear: both;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fcfcfc;
}
.blog h2 {
    text-align: center;
}
.blog .post {
    padding-top: 30px;
    display: inline-block;
}
.blog .post img {
    float: left;
    margin-right: 30px;
}



/* Footer */
footer {
    clear: both;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #38404b;
}
footer .brand {
    color: #bcc9dd;
}
footer .menu li {
    padding-left: 10px;
    padding-right: 10px;
}
footer .menu li a {
    color: #bcc9dd;
}
footer .menu {
    display: inline-block;
    margin-top: 30px; /* также добавим отступы */
    margin-bottom: 15px;
}
footer .copyright {
    font-size: 12px;
    color: #eee;
}





