/*
* Landing Page - Practice
* CSS Styles
* http://www.idg.net.ua/blog/uchebnik-css/ispolzovanie-css/praktika-delaem-landing-page
*
*/


/* General */
body {
    font-family: Raleway, Arial, Helvetica, sans-serif; /* кроме Raleway добавьте
                                                         * несколько запасных шрифтов */
}
p {
    font-size: 14px;
    color: #999;
    line-height: 1.3;
}
h1 {
    font-size: 40px;
    color: #fff;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 16px;<!--  название фильмов -->
}
h2, h3 {
    color: #282828;
}
.container {
    width: 90%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.brand {
    font-size: 30px;
}
.menu li {
    float: left;
    font-size: 16px;
    list-style: none; /* убираем стандартные маркеры списка */
}
.menu {
    padding-left: 0; /* убираем стандартный левый отступ списка */
    margin: 0; /* убираем стандартные поля списка */
}
.menu li a {
    text-decoration: none;
}
 nav{
     margin-right: -120px;
 }
 .registration{
     font-size: 13px;
     display: block;
     margin-top: -30px;
     color: #999;
     text-decoration: none;
 }
 .form_registration{
     margin-left: 240px;
     text-align:center;
 }

 .starR{
     position: absolute;
     text-align: right;
     margin-left: 5px;
     margin-top: 15px;
 }

 .starRText{
     display:inline-block;
     margin-left: 30px;
     color: #5e5e5e;
 }

 .buttonForFilter{
     display: inline-block;
     text-decoration: none;
     margin-bottom: 30px;
     color: white;
     background-color: #fa5ba5;
     padding: 5px 5px;
     border-radius: 30px;
     margin-left: -40px;
 }

 a{
     color: #5e5e5e;
 }

/* Header */
header {
    background-color: #fff;
    padding-top: 30px;
}
header .brand {
    float: left;
    color: #59abe3;
    margin-bottom: 30px;
}
header .menu {
    float: right;
    margin-bottom: 30px;
}
header .menu li {
    padding-left: 20px;
}
header .menu li a {
    color: #aaa;
}

.jumbotronForIndex {
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    /*padding-top: 80px;
    padding-bottom: 80px;*/
    /*min-height: 150px;*/
   /* text-align: center;*/
    clear: both;
}

.jumbotron {
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 150px;
    /* text-align: center;*/
    clear: both;
}

/* Blog */
.blog {
    box-shadow: 0 0 20px 1px gray;
    margin-right: 250px;
    margin-left: 250px;
    clear: both;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fcfcfc;
}
.blog h2 {
    text-align: center;
}

.blog .post {
    padding-top: 30px;
    display: inline-block;
}
.blog .post img {
    max-height: 150px;
    float: left;
    margin-right: 30px;
}



/* Footer */
footer {
    clear: both;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #38404b;
}
footer .brand {
    color: #bcc9dd;
}
footer .menu li {
    padding-left: 10px;
    padding-right: 10px;
}
footer .menu li a {
    color: #bcc9dd;
}
footer .menu {
    display: inline-block;
    margin-top: 30px; /* также добавим отступы */
    margin-bottom: 15px;
}
footer .copyright {
    font-size: 12px;
    color: #eee;
}



.dakisvan {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 30px;
    color: white;
   /* font-weight: bold;*/
   /* font-size: 18px;*/
    background-color: #fa5ba5;
    padding: 15px 25px;
    border-radius: 30px;
}
.dakisvan:hover {
    background: #fa5ba5;
}
.dakisvan.valokan-big {
    font-size: 18px;
    padding: 15px 20px;
    min-width: 100px;
}
.valokan-close {
    color: #fa5ba5;
    font-size: 30px;
    text-decoration: none;
    padding:10px;
    position: absolute;
    right: 7px;
    top: 0;
}
.valokan-close:hover {
    color: #333;
}
.kadobagud:before {
    content: "";
    display: none;
    background: rgba(171, 171, 171, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.midsalod:before {
    display: block;
}
.midsalod .angebes-koverla {
    transform: translate(0, 0);
    top: 20%;
}
.angebes-koverla {
    background: #fefefe;
    border: #232222 solid 0;
    border-radius: 5px;
    margin-left: -200px;
    text-align:center;
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 11;
    width: 450px;
    box-shadow:0 5px 10px rgba(25, 24, 24, 0.3);
    transform: translate(0, -500%);
    transition: transform 0.3s ease-out;
}
.davasgu-kevanud {
    padding: 20px;
}

.davasgu-kevanud input{
    width:200px;
    padding:8px;
    border:1px solid #ddd;
    color:#888;
    outline:0;
    font-size:14px;
    font-weight:bold;
    margin-top: 10px;
}

.davasgu-kevanud select{
    width:218px;
    padding:8px;
    border:1px solid #ddd;
    color:#888;
    outline:0;
    font-size:14px;
    font-weight:bold;
    margin-top: 10px;
}

.doveacko-gangeroun,
.kusane-avasgun {
    padding: 10px 20px;
}
.doveacko-gangeroun {
    border-bottom: #eeeeee solid 1px;
}
.doveacko-gangeroun h2 {
    font-size: 20px;
}


.d1 {box-sizing: border-box;

}
 .d1 form {
    position: relative;
    width: 250px;
     margin-left: -10px;
     margin-top: -40px;

}
 .d1 input {
    width: 220px;
    height: 39px;
    padding-left: 10px;
    border: 2px solid #59abe3;
    border-radius: 5px;
    outline: none;
    background: #eeeeee;
    color: #9E9C9C;
}
 .d1 button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 42px;
    height: 39px;
    border: none;
    background: #59abe3;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
 .d1 button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}


